body {
  background-color: black;
  color: white;
  text-shadow: 10px 10px 5px;
  font-family: 'Courier New';
  overflow: hidden;
  box-sizing: content-box;

}

#textfield {
  border: 1px gray solid;
  height: 80vh;
  position: relative;
  overflow-x: auto;
}

#TextMenu {
  position: fixed;
  width: 65%;
  height: 100%;
  box-sizing: content-box;
}

#TextMenu>#text {
  background-color: black;
  width: 76%;
  height: 8%;
  color: white;

}

#textmodes {
  background-color: black;
  color: white;
  height: 7%;
  width: 12%;
  cursor: pointer;
  border-radius: 5px;
}

#textmodes>option {
  background-color: black;
  color: white;
  border: 1px solid white;
  width: 100px;
  height: 50px;
}

#Enter {
  position: fixed;
  background-color: black;
  color: white;
  border: white 1px solid;
  border-radius: 5px;
  width: 5%;
  height: 9%;
  margin: 0px 5px;
  cursor: pointer;
}

#Enter:active {
  background-color: white;
  color: black;
}

.textsample {
  margin: auto auto;
  text-align: center;
  padding: 10px;
  border: 1px white dotted;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

#sidebar {
  border-left: 1px white dashed;
  width: 25%;
  height: 70%;
  position: fixed;
  left: 70%;
  top: 5%;
  overflow: auto;
}

#sidebar>p {
  margin: auto auto;
  text-align: center;
  padding: 10px;
  border: 1px white dotted;
  width: 90%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

#contextmenu {
  position: absolute;
  z-index: 1;
  display: none;
  height: 100px;
  width: 150px;
  border: 1px white solid;
  background-color: black;
}

#contextmenu>p {
  text-align: center;
}

.Hero,
.Line,
.description,
.chapter,
.redacting {
  margin: auto auto;
  text-align: center;
  padding: 0px 10px;
  width: 50%;
  text-align: center;

  /* border: 1px white dotted; */
}

.Hero {
  color: white;
  font-weight: 400;
  font-size: 17px;

}

.Line {
  color: white;
  font-weight: 100;
  font-size: 14px;
}

.description {
  color: white;
  font-weight: 200;
  font-size: 12px;
}

.chapter {
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.redacting {
  color: yellow;
}

::-webkit-scrollbar {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, lightgray, black);
  border-radius: 20px;
}

#shortcuts {
  border: 1px gray dashed;
  width: 30%;
  margin: auto auto;
  background-color: black;
  position: fixed;
  left: 68%;
  bottom: 0%;
}

#shortcuts>p {
  display: none;
}

#shortcuts:hover>p {
  display: block;
  left: 65%;
}

#forprint {
  display: none;
  color: black;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

#menu>div {
  margin: 10px 1px;
  font-size: 15px;
  text-align: center;
  border: 1px white dotted;
  cursor: pointer;
  font-size: 10px;
}

@media print {

  #textmodes,
  #text,
  #Enter,
  #shortcuts,
  #textfield,
  #sidebar ,#menu {
    display: none;
  }

  #forprint {
    display: block;

  }
}

@media screen and (max-width: 800px) {

  #sidebar,
  #shortcuts
   {
    display: none;
  }

  #TextMenu {
    width: 95vw;
  }

  #TextMenu>#text {
    width: 50vw;
  }

  #textmodes {
    width: 20vw;
  }

  #Enter {
    width: 20vw;
  }

  #textfield {
    height: 80vh;
  }
}